@using Brewery.Models;

<form action="/Region" method="post">

    <input id="sanFrancisco" name="region" method="post" type="radio" value="sanFrancisco">San Francisco<br>
    <input id="losAngeles" name="region" method="post" type="radio" value="losAngeles">Los Angeles<br>
    <input id="sanDiego" name="region" method="post" type="radio" value="sanDiego">San Diego<br>
    <input id="denver" name="region" method="post" type="radio" value="denver">Denver<br>
    <input id="portland" name="region" method="post" type="radio" value="portland">Portland<br>
    <input id="grandRapids" name="region" method="post" type="radio" value="grandRapids">Grand Rapids<br>
    <input id="seattle" name="region" method="post" type="radio" value="seattle">Seattle<br>
    <input id="spokane" name="region" method="post" type="radio" value="spokane">Spokane<br>

    <button type="submit">Submit</button>

</form>